<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Change password</title>
	</head>
	<body>
		<div class="password">
			<h1>Change password</h1>
			<div class="links">
				<a href="{{ url_for('login') }}">Login</a>
				<a href="{{ url_for('register') }}" class="active">Register</a>
			</div>
			<form action="{{ url_for('password') }}" method="post" autocomplete="off">
				<br><br>
				<input type="text" name="username" placeholder="Username" id="username" required>
				<br>
                <input type="password" name="oldpassword" placeholder="Old password" id="oldpassword" required>
				<br>
				<input type="password" name="password" placeholder="Password" id="password" required>
				<br>
				<input type="password" name="repassword" placeholder="Repeat password" id="repassword" required>
				<div class="msg">{{ msg }}</div>
				<input type="submit" value="Change password">
			</form>
		</div>
	</body>
</html>